@using NeMobileBg.Common.Models.Cars;
@model IEnumerable<CarsSearchModel>;


<link rel="stylesheet" href="~/css/searchform.css" />


<div class="search-form" style="margin-top: 20px">
    <form asp-action="Search" asp-controller="Cars" method="post">
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="Make">Make:</label>
                <select class="form-select" id="Make" name="Make">
                    <option value="">Select Make</option>
                    @foreach (var carData in Model)
                    {
                        <option value="@carData.Make">@carData.Make</option>
                    }
                </select>
            </div>
            <div class="col-md-4 mb-3">
                <label for="Model">Model:</label>
                <select class="form-select" id="Model" name="Model">
                    <option value="">Select Model</option>
                    @foreach (var carData in Model)
                    {
                        <option value="@carData.Model">@carData.Model</option>
                    }
                </select>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="PriceFrom">Price from:</label>
                    <input type="number" class="form-control" id="PriceFrom" name="PriceFrom">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="PriceTo">Price to:</label>
                    <input type="number" class="form-control" id="PriceTo" name="PriceTo">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="HorsePowerFrom">Horsepower from:</label>
                    <input type="number" class="form-control" id="HorsePowerFrom" name="HorsePowerFrom">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="HorsePowerTo">Horsepower to:</label>
                    <input type="number" class="form-control" id="HorsePowerTo" name="HorsePowerTo">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="Color">Color:</label>
                    <input type="text" class="form-control" id="Color" name="Color">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="FromYear">From year:</label>
                    <input type="date" class="form-control" id="FromYear" name="FromYear">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="ToYear">To year:</label>
                    <input type="date" class="form-control" id="ToYear" name="ToYear">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="MileageFrom">Mileage from:</label>
                    <input type="text" class="form-control" id="MileageFrom" name="MileageFrom">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="MileageTo">Mileage to:</label>
                    <input type="text" class="form-control" id="MileageTo" name="MileageTo">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="Gearbox">Gearbox:</label>
                    <select class="form-control" id="Gearbox" name="Gearbox">
                        <option value="Manual">Manual</option>
                        <option value="Automatic">Automatic</option>
                    </select>

                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="Condition">Condition:</label>
                    <select class="form-control" id="Condition" name="Condition">
                        <option value="Used">Used</option> 
                        <option value="New">New</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="FuelType">Fuel Type:</label>
                    <select class="form-control" id="FuelType" name="FuelType">
                        <option value="Petrol">Petrol</option>
                        <option value="Diesel">Diesel</option>
                        <option value="Hybrid">Hybrid</option>
                        <option value="Electric">Electric</option>
                        <option value="Gasoline">Gasoline</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group" style="margin-top: 20px; margin-bottom: 20px">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

