@using NeMobileBg.Common.Models.Cars;
@using NeMobileBg.Common.Models.Home;
@model HomePageModel;

@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/homepage.css" />

<div class="welcome-message text-center mt-3 mb-5">
    <h1>Welcome to NeMobileBg</h1>
    <p>Your premier destination for exploring a wide variety of vehicles. Whether you're looking for the perfect car, a rugged truck, or a sleek motorcycle, we have something for everyone. Browse through our collection and find your dream vehicle today!</p>
</div>

@if (User != null && User.Identity.IsAuthenticated)
{
    <div class="container">
        <div class="row ">
            <div class="col-4">
                <a asp-controller="Cars" asp-action="Search" class="btn btn-primary">Find Your Car</a>
            </div>
            <div class="col-4 ">
                <a asp-controller="Trucks" asp-action="Search" class="btn btn-primary">Find Your Truck</a>
            </div>
            <div class="col-4 ">
                <a asp-controller="Motorcycles" asp-action="Search" class="btn btn-primary">Find Your Motorcycle</a>
            </div>
        </div>
    </div>
}

<div class="container">
    <h2>Cars</h2>
    <partial name="Partials/_VehiclesSectionPartial" model="Model.Cars" />

    <h2>Trucks</h2>
    <partial name="Partials/_VehiclesSectionPartial" model="Model.Trucks" />

    <h2>Motorcycles</h2>
    <partial name="Partials/_VehiclesSectionPartial" model="Model.Motorcycles" />
</div>
