@model NeMobileBg.Data.Models.Vehicle
@{
    string ConvertByteArrayToBase64(byte[] byteArray)
    {
        if (byteArray != null)
        {
            return Convert.ToBase64String(byteArray);
        }
        return string.Empty;
    }
}
<div class="col-md-3 mb-4">
    <div class="card" style="width: 300px; height: 330px;">
        <img src="data:image/jpeg;base64,@ConvertByteArrayToBase64(Model.ImageUrl)" class="card-img-top" alt="Vehicle Image">
        <div class="card-body">
            <h5 class="card-title">@($"{Model.Make} {Model.Model}")</h5>
            <p class="card-text">@($"Price: {Model.Price:C0}")</p>
            <p class="card-text">@($"Year: {Model.Year}")</p>
        </div>
    </div>
</div>
