@using NeMobileBg.Common.Models.Motorcycles;
@model MotorcyclesDataModel;

<div class="container">
    <h2>Motorcycles</h2>
    <partial name="Partials/_VehiclesSectionPartial" model="Model" />
</div>